#server
.git
*Dockerfile*
*docker-compose*
node_modules
image
dist

#client
client/Dockerfile
client/.dockerignore
client/.gitignore
client/README.md
client/.vscode
client/.git

client/build
client/node_modules